---
import BaseLayout from "../layouts/BaseLayout.astro";
import rss from "../assets/rss.svg";
const pageTitle = "My Personal Blog";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);

function formatDate(dateString: string): string {
  const date = new Date(dateString);
  const year = date.getFullYear();
  const month = String(date.getMonth() + 1).padStart(2, "0"); // Months are zero-based
  const day = String(date.getDate()).padStart(2, "0");

  return `${year}-${month}-${day}`;
}

function sortPosts(a: any, b: any): number {
  return (
    new Date(a.frontmatter.pubDate).getTime() -
    new Date(b.frontmatter.pubDate).getTime()
  );
}
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Mainly about programming, personal projects, and philosophy. The goal is to
    get better at
    <a href="https://paulgraham.com/writes.html">thinking by writing</a>.
  </p>
  <h2 class="items-center mb-0 gap-x-2 flex flex-row">
    <span> Posts </span>
    <a
      href="/rss.xml"
      target="_blank"
      class="flex flex-col"
      rel="noopener noreferrer"
    >
      <img src={rss.src} alt="RSS Feed" class="inline-block h-6 m-0 w-6" />
    </a>
  </h2>
  <ul>
    {
      allPosts.toSorted(sortPosts).map((post: any) => (
        <li>
          <a href={post.url} class="overflow-hidden me-2">
            {formatDate(post.frontmatter.pubDate)}: {post.frontmatter.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
