---
import BaseLayout from "../layouts/BaseLayout.astro";

function sortDates(a: any, b: any): number {
  return new Date(b.date).getTime() - new Date(a.date).getTime();
}

const allProjects = [
  {
    repo: "code-blocks",
    date: "2023-02-08",
    tags: ["VSCode", "Extension", "TypeScript"],
    assets: [
      [
        "https://raw.githubusercontent.com/selfint/code-blocks/main/assets/editor/Code%20Blocks%20Demo%20-%20Editor%20-%20svelte%201.gif",
        "Move code elements with point and click interface",
      ],
    ],
    description: `
      VSCode extension for editing code using the syntax tree directly.
    `,
  },
  {
    repo: "degree-planner",
    date: "2024-05-25",
    tags: ["Web", "SvelteKit", "UI"],
    assets: [
      [
        "https://raw.githubusercontent.com/selfint/degree-planner/refs/heads/main/src/lib/assets/gifs/plan-pic.png",
        "Course scheduler with Trello-like interface",
      ],
    ],
    description: `
      Degree planner for a Technion degree. Supports Trello-like interface for
      planning courses and checking requirements.
    `,
  },
  {
    repo: "lsp-outside-the-editor",
    date: "2025-02-21",
    tags: ["Rust", "Language Server Protocol", "CLI"],
    assets: [
      [
        "https://raw.githubusercontent.com/selfint/lsp-outside-the-editor/refs/heads/main/out.svg",
        "A visualization of a simple Rust project.",
      ],
    ],
    description: `
      Using the Language Server Protocol to create a visualization of any code
      repository, in any language.
    `,
  },
  {
    repo: "wikitool",
    date: "2024-01-09",
    tags: ["Python", "LLM", "Semantic search"],
    assets: [],
    description: `
      Small Python library for connecting the Wikipedia API to an LLM.
    `,
  },
  {
    repo: "ltsa",
    date: "2023-03-24",
    tags: ["Rust", "Tree-sitter", "Language Server Protocol"],
    assets: [],
    description: `
      Static analysis tools leveraging LSP and tree-sitter.
    `,
  },
  {
    repo: "rust-ml",
    date: "2021-01-11",
    tags: [
      "Rust",
      "Machine Learning",
      "Neural Network",
      "Reinforcement learning",
    ],
    assets: [],
    description: `
      Rust machine learning library.
    `,
  },
  {
    repo: "NEAT",
    date: "2018-06-08",
    tags: ["Python", "Neural Network", "Reinforcement learning"],
    assets: [],
    description: `
      Implementation of the NEAT algorithm from the paper
      <a
        target="_blank"
        href="http://nn.cs.utexas.edu/downloads/papers/stanley.ec02.pdf"
      >
      "Evolving Neural Networks through Augmenting Topologies"
      (Stanley, 2002).
      </a>
    `,
  },
] as const;
---

<BaseLayout pageTitle="Projects">
  <p>
    A list of some of my projects, all of which can be found at
    <a href="https://github.com/selfint">github.com/selfint</a>.
  </p>
  <h2 class="items-center mb-0 gap-x-2 flex flex-row">
    <span> Projects </span>
  </h2>
  <ul>
    {
      allProjects
        .toSorted(sortDates)
        .map(({ repo, date, description, assets, tags }) => (
          <li class="mb-8">
            <a
              href={`https://github.com/selfint/${repo}`}
              target="_blank"
              class="inline-flex"
            >
              {date}: {repo}
            </a>
            - <div set:html={description} class="inline" />
            <div class="gap-x-2 flex flex-wrap">
              {tags.map((tag) => (
                <span class="text-sm bg-neutral-300 mb-2 text-nowrap dark:bg-neutral-600 ps-1 pe-1 inline-flex flex-row justify-center font-mono rounded-md">
                  <span>{tag}</span>
                </span>
              ))}
            </div>
            <div>
              {assets.map(([src, alt]) => (
                <img class="max-w-full pe-2" src={src} alt={alt} />
              ))}
            </div>
          </li>
        ))
    }
  </ul>
</BaseLayout>
